<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Is logged in:</strong>
    <%= user.is_logged_in %>
  </p>

  <p>
    <strong>Last online:</strong>
    <%= user.last_online %>
  </p>

  <p>
    <strong>Avatar url:</strong>
    <%= user.avatar_url %>
  </p>

</div>
